{%- assign fields = include.fields | split: ";" -%}

{%- assign items = site.data.medievalfragments | where_exp: 'item','item.pid' | where_exp: 'item','item.parentid == nil' -%}


{%- assign taglist = "" -%}
{%- for field in fields -%}
{% assign new = items | map: field | compact | join: ";" %}
{% assign taglist = taglist | append: "," | append: new %}
{%- endfor -%}
{%- assign taglist = taglist | split: "," -%}

{%- capture items -%}{%- for item in taglist -%}{%- if item != "" and item != " " -%}{{ item | strip }};{%- endif -%}{%- endfor -%}{%- endcapture -%}
{%- assign item = item | split: "," | sort -%}
{%- assign uniqueTags = terms | uniq | sort -%}

{% for item in uniqueTags %}
  <div class="tag p-2 bg-light small rounded d-inline-block">
    {% capture itemURL %}/tags/#{{ item | url_encode }}{% endcapture %}
      <a href="{{ itemURL | relative_url }}" class="text-dark">
        {{item}}
      </a>
    </div>
{% endfor %}

{%- assign termsMin = include.min | plus: 0 | default: 1 -%}
{%- assign cloud_id = include.id | default: "cloud" -%}
