<div class="container-fluid">
  <div class="row align-items-center" id="tag-viewport">
    <div class="col">
      <div class="owl-carousel owl-loaded owl-drag" id="tag-carousel">
        {% assign taglist = '' %}
        {{ taglist }}
        {% assign fields = '' %}
        {{ fields }}
          {% for item in site.medievalfragments %}
            {% assign fields = page.fields | split: ';' | uniq %}
            {% for i in fields %}
              {% assign field = fields[i] %}
              {% assign tags = item.field | split:',' %}
              {% for tag in tags %}
                {% assign taglist = taglist | append: tag | append: ',' %}
              {% endfor %}
            {% endfor %}
        {% endfor %}
        
            {% assign taglist = taglist | split: ',' | uniq %}
            {% for tag in taglist %}
              <div class="tag p-2 bg-light small rounded d-inline-block">
                {% capture tagURL %}/tags/#{{ tag | url_encode }}{% endcapture %}
                <a href="{{ tagURL | relative_url }}" class="text-dark">
                {{tag}}
                </a>
              </div>
            {% endfor %}
      </div>
    </div>
  </div>
</div>
        
      
