{%- assign tag-fields = page.fields | split: ";" -%}

{%- assign raw-terms = "" -%}
{{ raw-terms }}
{%- for c in tag-fields -%}
{% assign new = items | map: c | compact | join: "," %}
{% assign raw-terms = raw-terms | append: "," | append: new %}
{%- endfor -%}
{%- assign raw-terms = raw-terms | split: "," -%}

{%- capture terms -%}{%- for t in raw-terms -%}{%- if t != "" and t != " " -%}{{ t | strip }};{%- endif -%}{%- endfor -%}{%- endcapture -%}
{%- assign terms = terms | split: ";" | sort -%}
{%- assign uniqueTerms = terms | uniq | sort -%}
{% for term in uniqueTerms %}
    <div class="tag p-2 bg-light small rounded d-inline-block">
      {% capture termURL %}/tags/#{{ term | url_encode }}{% endcapture %}
        <a href="{{ termURL | relative_url }}" class="text-dark">
            {{term}}
        </a>
{%- endfor -%}
